return 
   {
   models = 
      {
      default = 
         {
         vtxPit = true,
         modelName = 'default',
         vtxPower = 
            {
            [1] = 25,
            },
         },
      cbd = 
         {
         vtxPit = true,
         modelName = 'cbd',
         vtxPower = 
            {
            [1] = 25,
            [2] = 200,
            [4] = 800,
            [5] = 1000,
            [3] = 400,
            },
         },
      6inch = 
         {
         vtxPit = true,
         modelName = '6inch',
         vtxPower = 
            {
            [1] = 25,
            [2] = 200,
            [3] = 400,
            [4] = 1000,
            },
         },
      },
   }